.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: #343642;
    color: white;
    font-family: "Cambria", sans-serif;
    font-size: 50px;
    padding: 10px;
    display: inline-block;
}

.navbar_list {

}

li {
    display: inline-block;
}