h2 {
    margin: 20px;
    text-align: center;
}
.nav-link {
    color: dimgray;
}
.container{
    padding: 5px;
    size: 5px;
}
button {
    margin-left: 20px;
}
.icon {
    width: 25px;
    height: 25px;
}