           #content {      
                margin-top: 0;
                margin-bottom: 27px;
                width: 70%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                display: inline-block;
                border-radius: 10px;
                }
            #profile {
                width: 100%;
                margin: 10px;
                background-color: #6B7A8F;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                border-radius: 10px;
                font-size: 18px;
                color: dimgray;
            }
            #profile-picture { 
                float: left;
                padding: 35px;
            }
            #display-picture {
                width: 200px;
                height: 200px;
                border-radius: 5px;
            }
            #profile-bio {
                float: left;
                width: 70%;
                padding: 5px;
            }
            #profile-name { 
                font-size: 40px; 
                color: white;
                padding: 5px;
            }
            #profile-details { 
                padding: 5px;
                margin: 5px;
            }
            .bullets {
                margin: 5px;
                color: white;
                font-family:  "Segoe UI",Arial,sans-serif;
                display: flex;
            }
            .titles { 
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
                font-weight: bold;
            }
            .text {
                float: left;
                margin-left: 5px;
                margin-bottom: 10px;
                text-align:justify; 
            }
            #lower_content { 
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                border-radius: 10px;
                font-size: 18px;
                color: white;
            }
            #history { 
                float : left;
                background-color: #6B7A8F;
                margin-left: auto;
                margin-right: auto;
                padding: 10px;
                margin: 5px;
                width: 50%;
                border-radius: 10px;
            }
            
            #forum { 
                float : right;
                background-color: #6B7A8F;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                padding: 10px;
                margin: 5px;
                border-radius: 10px;
            }
            .header {
                width: 100%;
                display: block;
                margin: auto;
                margin-bottom: 13px;
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 17px;
                background-color: #dadadb;
                font-size: 18px;
                font-weight: bold;
                color: #5c7598;
                box-sizing: border-box;
            }
            .post {
                font-size: 15px;
                margin: 10px;
                padding: 10px;
                background: rgba(218,218,219,0.6);
                border-radius: 10px;
            }
            .caption {
                font-weight: bold;

            }
            .buttons{ 
                float: left;
                background-color: #4CAF50;
                color: white;
                margin: 20px;
                height: 8%;
                border-radius: 10px;
                transition: .4s;
                outline: none;
                border: none;
             }
            #useronly {
                display: none;
            }